<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{/*  custom css  */}}
<link rel="stylesheet" href="/assets/css/style.css" />
{%- seo -%}
{{/*  highlight.js  */}}
<link rel="preload" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/{{site.syntax.theme}}.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/{{site.syntax.theme}}.min.css"/></noscript>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js" defer></script>
<script src="/assets/js/highlight.js" defer></script>
{{/*  adsense  */}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3746194365105294" crossorigin="anonymous"></script>
{{/*  custom js  */}}
<script src="/assets/js/main.js" defer></script>