<header>
  <div class="header_wrapper">
    <div class="logo">
      <a href="/">{{site.title}}</a>
    </div>
    <div class="toggle" id="toggle">
      <svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </div>
    <nav class="hide">
      <a target="_blank" href="https://www.github.com/dhaneshsaini">github</a>
    </nav>
  </div>
</header>
