.full_post {
    .title {
        h1 {
            margin-bottom: 10px;
            font-size: xx-large;
        }
    }

    article {
        a {
            color: #4338ca;
        }

        img {
            width: 100%;
            margin: 10px 0;
        }

        table {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;

            tr {
                margin: 0;
                padding: 0;

                td {
                    padding: 10px;
                    border: 1px solid;
                }
            }
        }
    }
}