.full_post {
    .title {
        h1 {
            margin-bottom: 10px;
            font-size: xx-large;
        }
    }

    article {
        line-height: 170%;

        a {
            color: #0075CF;

            @media (prefers-color-scheme: dark) {
                color: #3091DC;
            }
        }

        ul,
        ol,
        p {
            margin: 20px 0;
        }

        p {
            code.language-plaintext {
                color: #fff;
                background: #323232;
                padding: 1px 6px;
                border-radius: 6px;
            }
        }

        img {
            width: 100%;
            height: auto;
            margin: 10px 0;
        }

        table {
            width: 100%;
            margin: 20px 0;
            overflow: auto;
            display: block;
            border-collapse: collapse;

            tr {
                margin: 0;
                padding: 0;

                td {
                    padding: 10px;
                    border: 1px solid #242424;

                    @media (prefers-color-scheme: dark) {
                        border-color: #b2b2b2;
                    }
                }
            }
        }
    }
}