.full_post {
    .title {
        h1 {
            margin-bottom: 10px;
            font-size: xx-large;
        }
    }

    article {
        line-height: 160%;

        a {
            color: #4338ca;
        }

        ul,
        ol,
        p {
            margin: 20px 0;
        }

        img {
            width: 100%;
            margin: 10px 0;
        }

        table {
            width: 100%;
            margin: 20px 0;
            overflow: auto;
            display: block;
            border-collapse: collapse;

            tr {
                margin: 0;
                padding: 0;

                &:nth-of-type(even) {
                    background: #efefef;
                }

                td {
                    padding: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}