@media (min-width: 640px) {
    main {
        margin: 40px auto;
    }

    header {
        .header_wrapper {
            padding: 20px 0;
        }
    }

    article {
        font-size: 114%;
    }
}

// @media (min-width: 768px) {}